<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="WslToolbox" Directory="INSTALLFOLDER">
      <Component>
        <File Source="../WslToolbox.UI/bin/Release/net8.0-windows10.0.19041.0/win-x64/publish/toolbox.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
