<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="AppName" value="WSL Toolbox"/>
        <add key="AppConfigurationFileName" value="settings.json"/>
        <add key="AppLogsFileName" value="logs.txt"/>
        <!-- 19041 -->
        <add key="AppMinimalOsBuild" value="19041"/>
    </appSettings>
</configuration>